@import url(section1.css);
@import url(section2.css);
@import url(section3.css);
@import url(section4.css);
@import url(section5.css);
@import url(section6.css);
@import url(section8.css);
@import url(section9.css);
@import url(section10.css);
@import url(section11.css);
@import url(section12.css);

@font-face {
  font-family: anadelemo;
  src: url(../fonts/andalemo.ttf);
}

@font-face {
  font-family: LemonMilk;
  src: url(../fonts/LEMONMILK-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
  }


  body {
    background-color: #d3eefe;
    /* font-family: anadelemo, sans-serif; */
    font-family: LemonMilk, sans-serif;
  }
  
  section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  
  .section_text {
    max-width: 30vw;
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 10;
    background-color: rgba(255,255,255,0.8);
    padding: 45px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #000;
    font-size: 1.2em;
    opacity: 1;
  }
  
  .section_text ul {
      text-align: left;
      list-style-type: disclosure-closed;
  }
  
  .Scene_BG{
    position: relative;
    height: 100vh;
  }

  .images-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  