/* section 9 for scene 9 */
 
  .nineth-section .images-wrapper {
    position: relative;
  }
  
  .nineth-section .data_drankverpakkingen {
      position: absolute;
      left: 100px;
      background-color: green;
      top: 50%;
      padding: 1em;
      box-shadow: 5px 5px 5px;
  }
  
  .nineth-section .litter-images9 {
      position: relative;
      bottom: 300px;
      width: 500px;
      height: 280px;
      left: 50%;
      transform: translateX(-50%);
  }
  
  .nineth-section .litter-images9 > * {
      position: absolute;
      max-width: 250px;
  }