/* section 11 for scene 11 */

  .eleventh-section .images-wrapper {
    position: relative;
  }
  
  .eleventh-section .litter-images11 {
      position: relative;
      top: 50%;
      width: 550px;
      height: 360px;
      left: 50%;
      transform: translate(0%, -100%);
      overflow: hidden;
  }
  