/* section 8 for scene 8 */

  .eight-section .images-wrapper {
    position: relative;
  }
  
  .eight-section .litter-images8 {
      position: relative;
      bottom: 300px;
      width: 500px;
    height: 280px;
      left: 50%;
      transform: translateX(-50%);
  }
  
  .eight-section .litter-images8 > * {
      position: absolute;
    max-width: 250px;
  }
  
  .section_8_02 {
      left: 0;
      width: 150px;
      bottom: 0;
  }
  
  .section_8_03 {
      right: 100px;
      width: 150px;
      bottom: 0;
  }
  
  .section_8_04, .section_8_05, .section_8_06, .section_8_07 {
      width: 60px;
      bottom: 0;
  }
  
  .section_8_04{
    left: 50px;
  }
  .section_8_05{
    left: 100px;
  }
  .section_8_06{
    left: 150px;
  }
  .section_8_07{
    left: 250px;
  }