* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #d3eefe;
}

.first-section {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
  }

  .first-section .section1_text {
    max-width: 710px;
    position: absolute;
    top: 37%;
    left: 40%;
    z-index: 10;
    background-color: rgba(255,0,0,0.8);
    padding: 45px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #000;
    font-size: 2em;
    opacity: 1;
  }

  .first-section .images-wrapper {
      position: absolute;
  }

.section_1_bg{
  position: relative;
  top: 300px;
    width: 100vw;
    height: 100vh;
  }

  .ingredient-images {
      position: absolute;
      width: 400px;
     left: 50% ;
     height: 430px;
     bottom: 0;
  }

  /* dirk sprite */
  .section_1_01 {
    position: absolute;
    top: 360px;
    right: 250px;
    z-index: 10;
    left: -160px;
  }
  
  /* vuilniszak */
  .section_1_02 {
    position: absolute;
    top: 500px;
    right: 400px;
    z-index: 9;
    left: -160px;
  }
  
  .section_1_03 {
    position: absolute;
    top: 630px;
    right: 570px;
    left: -270px;
    z-index: 6;
  }
  
  .section_1_04 {
    position: absolute;
    top: 590px;
    right: 630px;
    left: -340px;
    z-index: 5;
  }
  
  .section_1_05 {
    position: absolute;
    top: 595px;
    right: 760px;
    z-index: 4;
    left: -420px;
  }
  
  .section_1_06 {
    position: absolute;
    top: 620px;
    right: 750px;
    z-index: 3;
    left: -400px;
  }
  


  .second-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
  }

  .second-section .images-wrapper {
    position: absolute;
    display: flex;
    padding: 200px 0;
    top: 20%;
    overflow: hidden;
  }

  .image-container {
    overflow: hidden;
    height: 100%;
  }

  .third-section {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  
  .third-section .images-wrapper {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .third-section .images-wrapper img {
    position: absolute;
  }

  .forth-section {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  
  .forth-section .images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forth-section .images-wrapper img {
    position: absolute;
  }