* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d3eefe;
}

.first-section {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.section_text {
  max-width: 30vw;
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 10;
  background-color: rgba(255,255,255,0.8);
  padding: 45px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px #000;
  font-size: 1.2em;
  opacity: 1;
}

.section_text ul {
	text-align: left;
	list-style-type: disclosure-closed;
}

.first-section .section1_text {
  top: 47%;
}

.first-section .images-wrapper {
    position: absolute;
}

.Scene_BG{
  position: relative;
  height: 100vh;

}

.section_1_bg{
position: relative!important;
top: 300px;
  /* width: 100vw; */
  height: 100vh;
}

.litter-images {
    position: absolute;
    width: 400px;
   left: 50%;
   height: 430px;
   bottom: 0;
}

/* dirk sprite */
.section_1_01 {
  position: absolute;
  top: 360px;
  right: 250px;
  z-index: 10;
  left: -160px;
}

/* vuilniszak */
.section_1_02, .section_1_07 {
  position: absolute;
  top: 500px;
  right: 400px;
  z-index: 9;
  left: -160px;
}

.section_1_07{
  opacity: 0;
}

.section_1_03 {
  position: absolute;
  top: 630px;
  right: 570px;
  left: -270px;
  z-index: 6;
}

.section_1_04 {
  position: absolute;
  top: 590px;
  right: 630px;
  left: -340px;
  z-index: 5;
}

.section_1_05 {
  position: absolute;
  top: 595px;
  right: 760px;
  z-index: 4;
  left: -420px;
}

.section_1_06 {
  position: absolute;
  top: 620px;
  right: 750px;
  z-index: 3;
  left: -400px;
}

/* section 2 voor scene 2 */
.second-section {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.second-section .section2_text {
  top: 10%;
  left: 40%;
}

.second-section .images-wrapper {
  position: absolute; 
  top: 5%;
}

.litter-images2 > *{
  position: absolute;
  width: 100px;
 height: 240px;
 bottom: 0;
 opacity: 0;
}

.litter-images2 .section_2_01 {
  left: 0;
  bottom: 0;
}

.litter-images2 .section_2_02 {
  right: 150px;
  bottom: 0;
}

.litter-images2 .section_2_03 {
  left: 450px;
}

.litter-images2 .section_2_04 {
  left: 300px;
}

.litter-images2 .section_2_05 {
  left: 400px;
  bottom: 10px;
}

.third-section {
  width: 100%;
  /* height: 150vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.third-section .litter-images3 {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.third-section .litter-images3 .section_3_01 {
top: 0;
}

.litter-images3 > .section_3_02, .section_3_03, .section_3_04, .section_3_05, .section_3_06, .section_3_07, .section_3_08 {
  width: 50px;
  position: relative;
  }

  .section_3_02 {
    bottom: 40px;
  }

  .section_3_03 {
    bottom: 80px;
  }

  .section_3_04 {
    bottom: 60px;
  }

  .section_3_05 {
    bottom: 70px;
    left: 20px;
  }

  .section_3_06 {
    bottom: 70px;
  }

  .section_3_07 {
    bottom: 60px;
  }
  .section_3_08 {
    bottom: 80px;
  }

.forth-section {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.forth-section .images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forth-section .images-wrapper img {
  position: absolute;
}

.fifth-section {
  width: 100%;
  /* height: 150vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.fifth-section .litter-images5 {
	position: absolute;
	bottom: 0;
}

.fifth-section .images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifth-section .images-wrapper .section_5_01 {
  position: relative;
  width: 500px;
}

.fifth-section .images-wrapper .litter-images5 > .section_5_02, .section_5_03, .section_5_04, .section_5_05, .section_5_06, .section_5_07, .section_5_08 {
	width: 30px;
	bottom: 360px;
	position: absolute;
	left: 170px;
}

.sixth-section {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.sixth-section .litter-images6 {
	position: absolute;
	width: 80vw;
	top: 280px;
	left: -150px;
}

.sixth-section .images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sixth-section .images-wrapper > * {
	max-width: 80vw;
}

.sixth-section .images-wrapper img {
  position: absolute;
}

.eight-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.eight-section .images-wrapper {
  position: relative;
}



.eight-section .litter-images8 {
	position: relative;
	bottom: 300px;
	width: 500px;
  height: 280px;
	left: 50%;
	transform: translateX(-50%);
}

.eight-section .litter-images8 > * {
	position: absolute;
  max-width: 250px;
}

.section_8_02 {
	left: 0;
	width: 150px;
	bottom: 0;
}

.section_8_03 {
	right: 100px;
	width: 150px;
	bottom: 0;
}

.section_8_04, .section_8_05, .section_8_06, .section_8_07 {
	width: 60px;
	bottom: 0;
}

.section_8_04{
  left: 50px;
}
.section_8_05{
  left: 100px;
}
.section_8_06{
  left: 150px;
}
.section_8_07{
  left: 250px;
}

.nineth-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.nineth-section .images-wrapper {
  position: relative;
}

.nineth-section .section_9_bg{
  filter: blur(50%);
}

.nineth-section .data_drankverpakkingen {
	position: absolute;
	left: 100px;
	background-color: green;
	top: 50%;
	padding: 1em;
	box-shadow: 5px 5px 5px;
}

.nineth-section .litter-images9 {
	position: relative;
	bottom: 300px;
	width: 500px;
  height: 280px;
	left: 50%;
	transform: translateX(-50%);
}

.nineth-section .litter-images9 > * {
	position: absolute;
  max-width: 250px;
}


.tenth-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.tenth-sectionn .images-wrapper {
  position: relative;
}

.tenth-section .litter-images10 {
	position: relative;
	bottom: 404px;
	width: 1000px;
	height: 400px;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
}

.tenth-section .litter-images10 > * {
	position: absolute;
  max-width: 500px;
}

.tenth-section .litter-images10 .section_10_02 {
	left: 0;
	bottom: 0;
	max-width: 600px;
}

.eleventh-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.eleventh-section .images-wrapper {
  position: relative;
}

.eleventh-section .litter-images11 {
	position: relative;
	top: 50%;
	width: 550px;
	height: 360px;
	left: 50%;
	transform: translate(0%, -100%);
	overflow: hidden;
}

.twelveth-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.twelveth-section .images-wrapper {
  position: relative;
}

.litter-images12 {
	position: absolute;
	width: 90%;
	height: 300px;
	bottom: 0;
  display: flex;
}

.litter-images12 > * {
	width: 50px;
  position: absolute;
  bottom: 50px;
}

.section_12_01 {
	width: 250px;
	right: 250px;
}

.section_12_02 {
	width: 150px;
	right: 400px;
}

.section_12_03 {
	width: 150px;
	left: 300px;
}
.section_12_04 {
	left: 300px;
}
.section_12_05 {
	left: 350px;
}

.section_12_06 {
	left: 400px;
}

.section_12_07 {
	left: 450px;
}

/* flesjes */

.section_12_08 {
	right: 0;
	width: 70px;
}
.section_12_09 {
	right: 50px;
	width: 70px;
}

.section_12_10 {
	right: 100px;
	width: 70px;
}

.section_12_11 {
	right: 180px;
}

.section_12_12 {
	right: 150px;
	width: 70px;
}

.section_12_13 {
	right: 270px;
}

.section_12_14 {
	left: 480px;
}

.section_12_15 {
	left: 500px;
}